<html>
    <head> 
        <title>
            socket connection
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <body>

        <h2>Refreshing page increases number of 'connect' even emits each time? </h2>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect("/");
        </script>

    </body>

</html>
